.navBar {
  height: 1000px;
  display: flex;
  height: 250px;
  margin: 20px;
  justify-content: center;
}

.button {
  width: 200px;
  background-color: #2BC1C4 !important;
  color: #FFFFFF;
  padding: 8px !important; 
  border-radius: 0 !important;
  font-size: 18px !important;
  font-weight: bold !important;
  box-shadow: 1px 1px 2px black;
  margin-bottom: 10px;
  /* fontSize: "18px",
  fontWeight: "bold",
  backgroundColor: "#2BC1C4",
  color: "#FFFFFF",
 width: '200px',
  borderRadius: "0",
  padding: '8px', */
}
.navCol {
  background-color: #d8d8d8;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.navColHome {
  background-color: #d8d8d8;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 155%;
}

.noteCard {
  box-shadow: 1px 1px 2px black;
  margin-top: 10px;
  margin-bottom: 15px;
  height: 230px;
  max-width: 230px;
}
.noteCardSingle {
  box-shadow: 1px 1px 2px black;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 780px;
  max-width: 780px;
}
.modal-content {
    width: 830px;
}

.STbutton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
}

.notesContainer {
  background-color: #f3f3f3;
  padding-left: 25px !important
}
.homeContainer {
  padding-top: 100px;
  background-color: #f3f3f3;
  padding-left: 25px !important;
  text-align: center;
  height: 155%;
  flex-grow: 1;
  
}
.mainContainer {
  height: 1000px;
}

.noteP {
  margin: 20px;
}

.editLink {
  margin-left: 600px;
  color: #4a4a4a;
}

.cardRow {
   
    justify-content: center;
    align-items: center;
}

.inputContainer {
  padding-top: 50px;
  background-color: #f3f3f3;
  padding-left: 25px !important;
  text-align: center;
}